/* Define your light theme colors */
:root {
  --background-color: #fff;
  --text-color: #000;
  --primary-color: #007bff;
}

/* Define your dark theme colors */
[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #fff;
  --primary-color: #ff002b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-color); /* Use CSS variable */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color); /* Use CSS variable */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
